.tt-dropdown-menu {
	top: 105% !important;
	left: -26px !important;
}

.tt-dataset-0 {
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.25);
	margin: 0 25px;
	position: relative;
	font-size: 15px;
	background-clip: padding-box;
	background-color: #fff;
	width: 299px;
	box-shadow: 0px 10px 36px 4px rgba(0, 0, 0, 0.41);
}

.tt-suggestion {
	cursor: pounter;
	cursor: pointer;
	padding: 5px 16px;
	margin-bottom: 1px;
}

.tt-suggestion:hover {
	background-color: #bcd3ff;
}

.tt-suggestion p {
	margin: 0;
}