.forecast-day {
	width: 107px;
	padding: 0px;
	font-family: Arial, sans-serif;
	leftpad(){
		padding-left: 8px;
	}
	header(fontcolor){
		color: fontcolor;
		font-size: 22pt;
		line-height: 22pt;
	}
	&__header {
		header(#000000);
	}
	&__header-date {
		font-size: 13pt;
		line-height: 13pt;
	}
	&__header-weekend{
		header(#ff0000);
	}
	icon(weather-icon){
		width: 48px;
		height: 48px;
		background-image: url(weather-icon);
	}
	&__icon-ovc {
		icon('http://ekb.shri14.ru/icons/ovc.svg');
	}
	color-body(fontsize, bgcolor) {
		font-size: fontsize;
		background-color: bgcolor;
		leftpad();
	}
	&__body {
		color-body(16pt, #f5f2d9);
	}
	&__body-warm{
		color-body(16pt, #f8f4d0);
	}
	&__body-desc{
		font-size: 10pt;
		height: 50px;
	}
	&__footer {
		color-body(13pt, #f3f1e3);
		color: #6d6e6e;
		height: 29px;
		line-height: 29px;
	}
}