//////////
// FOOTER 
//////////

.footer {
    font-size: 11px;
    color: #666;
    border-top: 1px solid #d6d5d2;

    //@todo: remove later
    margin-top: 60px;
}

.footer__footer-link {
    color: #747eaf;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer-section {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;

    &.footer__ya-links {
        width: 20%;

        footer-section__links-list {
            padding-left: 0;
        }
    }

    &.footer__stats {
        width: 40%;
    }

    &.footer__feedback-links {
        width: 20%;
    }

    &.footer__copyright {
        width: 19%;
        text-align: right;
    }
}

.footer-section__links-list {
    margin-top: 0;
    list-style-type: none;
}

.footer-links__link-item {
    margin-bottom: 5px;
}
    
