/////////
//LINKS
/////////

.links-wrapper {
    //@todo: remove later
    margin-top: 25%;
}

.links-section {
    display: inline-block;
    vertical-align: top;
    width: 24.5%;
}

.links-section__links-list {
    padding-left 0;
    list-style-type: none;
}

.links-section__links-header {
    font-weight: normal;
    margin-bottom: 10px;
}

.links-list__link {
    color: #3333cc;
    font-size: 13px;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

links-list__link-container {
    margin-bottom: 4px;
}
