body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px;
}

.page__wrapper {
    min-width: 1000px;
    margin: 0 auto;
    padding: 15px;

    //todo: change later
    max-width: 1600px;
}
