.tip {
    width: 10px;
    height: 10px;
    background-image: url(/dist/images/hint.png);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 5px;
}

.hint {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba( 0, 0, 0, .28 );
    position: absolute;
    padding: 10px 15px;
    box-shadow: 0 10px 36px 4px rgba( 0, 0, 0, .41 );
    box-sizing: border-box;

    &__text {
        font-size: 13px;
        margin: 0;
    }
}
