.select {
	&__dropdown {
		display: inline-block;
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 7px 26px 7px 12px;
		cursor: pointer;
		position: relative;
	}

	&__dropdown:after {
		content: '';
		position: absolute;
		top: 14px;
		right: 9px;
		width: 11px;
		height: 6px;
		background-image: url('images/select__arrow--down.png');
	}
}