@import '../design.styl';

.forecast-navigator {
    font-family: $font-family;
    
    &__city {
        font-size: 22px;
        font-weight: 400;
        display: inline-block;
    }
}
    
.today-weather-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.weather-main {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    float: left;

    &__container {
        width: 70px;
        float: left;
    }

    &__container:first-child {
        width: 154px;

        .weather-main__when {
            font-size: 18px;
            color: $main-text-color;
            padding-left: 0;
        }

        .weather-main__forecast {
            background-image: none;
        }

        .weather-main__degree {
            display: block;
            font-size: 27px;
            line-height: 24px;
        }

        .weather-main__icon {
            width: 48px;
            height: 48px;
            float: left;
            margin-right: 5px;
            vertical-align: top;
        }
    }

    &__when {
        font-size: 13px;
        color: $gray-text-color;
        line-height: 24px;
        padding-left: 10px;
    }

    &__forecast {
        background-color: #fae5aa;
        height: 99px;
        padding: 10px;
        box-sizing: border-box;
        background-image: linear-gradient(to right, rgba(255,255,255,85%) 0%,rgba(255,255,255,0) 60%); 
        margin: 4px 0 8px;
    }

    &__degree {
        font-size: 16px;
        line-height: 31px;
    }

    &__icon {
        width: 28px;
        height: 28px;
        background-size: cover;
    }

    &__condensation {
        font-size: 11px;
        overflow: hidden;;
    }

    &__additional {
        font-size: 13px;
        color: $gray-text-color;
        float: left;
        padding: 7px 15px;
    }

    &__line {
        margin: 0;
        line-height: 18px;

        &--margin-5-bottom {
            @extend .weather-main__line;
            margin-bottom: 5px;
        }
    }

    &__line:last-of-type {
        display: inline-block;
        vertical-align: middle;
    }

    &__yesterday {
        color: $gray-text-color;
        font-size: 13px;
        clear: both;
    }
}

.banner-wrapper {
    background: url(https://quantization.files.wordpress.com/2010/12/homer-simpson-never-too-old-to-rock-black-t-shirt-2-812-p.jpg);
    width: 300px;
    height: 250px;
    float: right;
    background-size: cover;
}
